.root {
	height: 40px;
	border-radius: 4px;
	background: #000;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	border: 0;
	appearance: none;
	margin: 0;
	padding: 0 12px;
	transition: transform 0.1s;
	will-change: transform;

	&:focus {
		outline: none;
		box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
	}

	&:active {
		transform: scale(0.98);
	}
}
